@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Condensed:wght@300&display=swap");

:root {
  --primary-color: #e8f7ee;
  --secondary-color: #663f46;
  --accent1-color: #3c362a;
  --accent2-color: #c9d6ea;

  --heading-font: "Bree Serif", serif;
  --paragraph-font: "Roboto Condensed", serif;

  --nav-background-color: var(--accent1-color);
  --nav-link-color: white;
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: white;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
  margin: 0 auto;
}

body p {
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bree Serif", serif;
  color: var(--accent1-color);
  text-align: center;
}

header {
  padding: 20px;
  background-color: var(--accent2-color);
}

header {
  text-align: center;
}

p {
  padding: 25px;
}

nav {
  background-color: var(--nav-background-color);
  font-size: 1.2rem;
  display: flex;
}

nav a {
  display: block;
  color: var(--nav-link-color);
  text-decoration: none;
  padding: 1rem;
}

nav a:link,
nav a:visited {
  color: var(--nav-link-color);
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  border: 1px black solid;
}

img {
  display: block;
  margin: 0 auto;
}

.palette {
  text-align: center;
}

.palette p {
  padding: 5px;
  margin: 0;
}


