* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
footer {
  max-width: 840px;
  margin: 0 auto;
}

nav {
  background-color: steelblue;
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
}

main img {
  width: 150px;
  height: auto;
  float: right;
}

h1 {
  padding: 10px;
  border-bottom: 1px solid steelblue;
  margin-bottom: 10px;
}

.grid,
header,
footer {
  max-width: 840px;
  margin: 0 auto;
}

.grid {
  display: grid;
  align-items: center;
}

main {
  grid-column: 2/3;
  margin: 1rem;
}

aside {
  width: 20rem;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  text-align: center;
}

aside img {
  text-align: center;
  width: 200px;
}

main p {
  padding: 10px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: center;
}

/* Class Selectors */
.box {
  margin: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  background-color: #ddd;
  color: #000;
}
